<h>hello from partial view</h>

<button id="jsonid">coming from partialview json</button>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/js/common.js" type="text/javascript"></script>